@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
* {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.card {
  -webkit-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #349AFA;
  position: fixed;
  top: 0;
  z-index: 2;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem;
  width: 100%;
}
header nav .left-nav-item a {
  color: white;
}
@media (min-width: 800px) {
  header nav .left-nav-item a {
    font-size: 2.5rem;
  }
}
@media (min-width: 500px) {
  header nav .left-nav-item {
    margin-left: 0;
  }
}
header nav .right-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 10%;
}
@media (min-width: 500px) {
  header nav .right-nav-item {
    margin-left: 20%;
  }
}
header nav .right-nav-item .show-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header nav .right-nav-item .show-nav-item .search input {
  width: 70%;
  height: 80%;
  border: none;
}
header nav .right-nav-item .show-nav-item .search i {
  padding: 0 0.5rem;
  margin-left: 10px;
}
header nav .right-nav-item .show-nav-item i {
  color: white;
}
@media (min-width: 500px) {
  header nav .right-nav-item .show-nav-item {
    display: none;
  }
}
header nav .links {
  display: none;
}
@media (min-width: 500px) {
  header nav .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header nav .links a {
    padding: 2rem 1rem;
    color: white;
    text-decoration: none;
  }
  header nav .links a:hover,
  header nav .links a:active {
    border-bottom: 2px solid white;
  }
}
@media (min-width: 800px) {
  header nav .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header nav .links a {
    padding: 2rem 2rem;
    font-size: 1.5rem;
  }
}
header nav .show-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
header nav .show-link a {
  padding: 0.1rem;
  text-decoration: none;
  color: white;
}
.top-section {
  position: relative;
  width: 100%;
  background-image: url('/assests/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  padding: 20px;
}
.top-section h1 {
  font-size: 30px;
  margin-top: 30px;
  line-height: 2;
}
@media (min-width: 800px) {
  .top-section h1 {
    line-height: 2.5;
    font-size: 3rem;
    margin-top: 5rem;
  }
}
.top-section .overlay {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.top-section .overlay button {
  margin-top: 15px;
  width: 70%;
  height: 10%;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #349AFA;
  font-size: 1rem;
}
@media (min-width: 500px) {
  .top-section .overlay button {
    width: 32%;
    margin-top: 20px;
    font-size: 1.3rem;
  }
}
@media (min-width: 800px) {
  .top-section .overlay button {
    width: 30%;
    margin-top: 30px;
  }
  .top-section .overlay button:hover {
    font-size: 1.7rem;
    width: 32%;
    background-color: #fff;
    color: #349AFA;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
  }
}
@media (min-width: 800px) {
  .top-section {
    height: 500px;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.main-section {
  margin: 1rem auto;
}
.main-section .info {
  text-align: center;
  padding: 1rem;
}
.main-section .info p {
  font-size: 1rem;
}
.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 98%;
}
@media (min-width: 800px) {
  .card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: 3rem;
  }
}
.card-section .card-login {
  text-align: center;
  -webkit-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
.card-section .card-login img {
  width: 100%;
}
@media (min-width: 800px) {
  .card-section .card-login {
    width: 31%;
  }
}
footer {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  padding: 1rem;
  background-color: #349AFA;
  color: white;
}
footer p {
  font-size: 0.5rem;
}
@media (min-width: 500px) {
  footer p {
    font-size: 1rem;
  }
}
footer .logos {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .logos i {
  padding: 0 0.5rem;
}
.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.carousel-card button {
  display: none;
}
@media (min-width: 800px) {
  .carousel-card button {
    display: inline;
    color: white;
    background-color: #349AFA;
    border: none;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    outline: none;
  }
}
.carousel-card .slide-carousel {
  background-color: whitesmoke;
  width: 100%;
  height: 20%;
  text-align: center;
  -webkit-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.62);
  padding: 0.5rem;
}
.carousel-card .slide-carousel img {
  width: 20%;
  height: 50px;
}
@media (min-width: 500px) {
  .carousel-card .slide-carousel img {
    height: 100px;
  }
}
@media (min-width: 800px) {
  .carousel-card .slide-carousel img {
    height: 200px;
  }
}
.carousel-card .slide-carousel p {
  font-size: 0.7rem;
  padding: 1rem;
  text-align: center;
}
@media (min-width: 800px) {
  .carousel-card .slide-carousel p {
    font-size: 1.5rem;
  }
}
:root html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 500px) {
  html,
  body {
    margin-top: 3rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
