@margin: 1rem;
@padding: 1rem;
@width: 100%;
@fontSize: 2.5rem;
@display: flex;

@lightBlueColor: #349AFA;
@cardBackground: whitesmoke;
@white: white;

@mediaTab: ~'min-width: 500px';
@mediaDesktop: ~'min-width: 760px';
